# Replace with your domain
DOMAIN=paul-sandbox.duckdns.org

# Subpath for the app (used by APPLICATION_ROOT in Flask apps)
APP_PATH=/vitamin_checker

# Set to INFO to enable access logs, ERROR to disable (default)
ENABLE_ACCESS_LOGS=ERROR